<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="DBCS" connectionString="Server=localhost; Port=3306; Uid=root; Pwd=E3e25475515!; Database=RDBA04"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>